@model IEnumerable<Invoice>

<div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h1>Faktury</h1>
            </div>
			<div class="col-6 text-end">
                <a asp-controller="Invoice" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-file-plus"></i> &nbsp; Dodaj nową fakturę
                </a>
            </div>           
        </div>
		
        <div class="row mb-5">
            <div class="col-md-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Numer faktury</th>
                            <th scope="col">Typ faktury</th>
                            <th scope="col">Data wystawienia</th>
                            <th scope="col">Data realizacji</th>
                            <th scope="col">VAT [%]</th>
                            <th scope="col"></th>  
                            <th scope="col"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                        {
                            <tr @*onclick="location.href = '@(Url.Action("Index", "InvoiceDetails", @obj))'"*@>
                                <td>
                                    @obj.Number
                                </td>
                                 <td>
                                    @obj.TypeId
                                </td>
                                <td>
                                    @obj.CreateDate
                                </td>
                                <td>
                                    @obj.SaleDate
                                </td>
                                <td>
                                    @obj.Tax
                                </td>                                
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Invoice" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-0"><i class="bi bi-pencil-square"></i>Edytuj</a>
                                    </div>
                                </td>                               
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Invoice" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-0"><i class="bi bi-trash"></i>Usuń</a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>