@model IEnumerable<Invoice>

<div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h1>Invoices</h1>
            </div>
			<div class="col-6 text-end">
                <a asp-controller="Invoice" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-file-plus"></i> &nbsp; Create new invoice
                </a>
            </div>           
        </div>
		
        <div class="row mb-5">
            <div class="col-md-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Invoice type</th>
                            <th scope="col">Creation date</th>
                            <th scope="col">Sale date</th>
                            <th scope="col"></th>  
                            <th scope="col"></th> 
                            <th scope="col"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                        {
                            <tr>
                                <td>
                                    @obj.Number
                                </td>
                                 <td>
                                    @obj.InvoiceType.Name
                                </td>
                                <td>
                                    @obj.CreationDate
                                </td>
                                <td>
                                    @obj.SaleDate
                                </td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Invoice" asp-action="Print" asp-route-id="@obj.Id" class="btn btn-primary mx-0"><i class="bi bi-pencil-square"></i>Edit</a>
                                    </div>
                                </td>                               
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Invoice" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-0"><i class="bi bi-pencil-square"></i>Edit</a>
                                    </div>
                                </td>                               
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Invoice" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-0"><i class="bi bi-trash"></i>Delete</a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>